{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'news.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero">
    <div class="container">
        <div class="hero">
            <div class="hero__subtitle">antonelli firenze</div>
            <h1 class="hero__title">О бренде</h1>
        </div>
    </div>
</section>
<section class="newsItem-sec">
    <div class="container">
        <h1 class="newsItem__title page-title">Made by Italian Women </h1>
        <div class="newsItem">
            <p>История Антонелли Флоренция-это повествование о совершенстве и инновациях, которое начинается в
                послевоенный период. В 1953 году Лучано Антонелли основал компанию в Кастельфиорентино, сначала
                известную как Vicad, а затем как Gossip, отличаясь высококачественным производством женского белья и
                ночных рубашек.<br><br> В 1999 году смена поколений привела дочь Энрику к руководству компанией, открыв
                новую эру стиля и инноваций с запуском первой линии женских рубашек от кутюр. Это только начало серии
                расширений и обновлений, которые характеризовали бренд.<br><br>
                2012 год знаменует собой поворотный момент, с введением более широкого спектра продуктов, включая брюки,
                юбки, куртки, пальто и трикотаж, таким образом, формируя первую полную коллекцию total look, верную
                совершенству made in Italy, сделанному женщинами для женщин.<br><br>
                Эволюция бренда продолжается Марко Берни, сын Энрики, который, став генеральным директором, ведет
                компанию к международной экспансии. В 2016 году бренд открывает свой первый монобрендовый магазин в
                Москве, за которым следуют дальнейшие открытия и значительная консолидация присутствия на мировом рынке.
            </p>
            <p>В 2023 году Антонелли Флоренция отметила значительную финансовую веху, достигнув оборота в 20 миллионов
                евро, что на 100% больше, чем в период с 2021 по 2023 год. Это достижение стало возможным благодаря
                вкладу команды из 40 преданных своему делу сотрудников. Успех бренда выходит за рамки национальных
                границ, с распространением, охватывающим более 20 стран мира, и надежной сетью из 650 клиентов, включая
                как оптовые (оптовые), так и престижные универмаги.<br><br> Бренд также завоевывает популярность в
                Италии, со значительным выставочным залом в Милане, на via Tortona 21, который занимает площадь 220
                квадратных метров.<br><br>
                Он также присутствует в известных универмагах в таких городах, как Москва, Санкт-Петербург, Рига,
                Германия, Швейцария, Испания, а также в итальянских городах Милан, Рим, Флоренция и Турин, укрепляя свою
                репутацию превосходства и роскоши в индустрии моды.<br><br></p>
            <div class="newsItem-images"> <img class="newsItem-images__item" src="../../pages/news/img/newsItemImg1.png"
                    alt="" /><img class="newsItem-images__item" src="../../pages/news/img/newsItemImg3.png"
                    alt="" /><img class="newsItem-images__item" src="../../pages/news/img/newsItemImg2.png"
                    alt="" /><img class="newsItem-images__item" src="../../pages/news/img/newsItemImg4.png" alt="" />
            </div>
            <p>История Антонелли Флоренция-это повествование о совершенстве и инновациях, которое начинается в
                послевоенный период. В 1953 году Лучано Антонелли основал компанию в Кастельфиорентино, сначала
                известную как Vicad, а затем как Gossip, отличаясь высококачественным производством женского белья и
                ночных рубашек.<br><br> В 1999 году смена поколений привела дочь Энрику к руководству компанией, открыв
                новую эру стиля и инноваций с запуском первой линии женских рубашек от кутюр. Это только начало серии
                расширений и обновлений, которые характеризовали бренд.<br><br>
                2012 год знаменует собой поворотный момент, с введением более широкого спектра продуктов, включая брюки,
                юбки, куртки, пальто и трикотаж, таким образом, формируя первую полную коллекцию total look, верную
                совершенству made in Italy, сделанному женщинами для женщин.<br><br>
                Эволюция бренда продолжается Марко Берни, сын Энрики, который, став генеральным директором, ведет
                компанию к международной экспансии. В 2016 году бренд открывает свой первый монобрендовый магазин в
                Москве, за которым следуют дальнейшие открытия и значительная консолидация присутствия на мировом рынке.
            </p>
            <p>В 2023 году Антонелли Флоренция отметила значительную финансовую веху, достигнув оборота в 20 миллионов
                евро, что на 100% больше, чем в период с 2021 по 2023 год. Это достижение стало возможным благодаря
                вкладу команды из 40 преданных своему делу сотрудников. Успех бренда выходит за рамки национальных
                границ, с распространением, охватывающим более 20 стран мира, и надежной сетью из 650 клиентов, включая
                как оптовые (оптовые), так и престижные универмаги.<br><br> Бренд также завоевывает популярность в
                Италии, со значительным выставочным залом в Милане, на via Tortona 21, который занимает площадь 220
                квадратных метров.<br><br>
                Он также присутствует в известных универмагах в таких городах, как Москва, Санкт-Петербург, Рига,
                Германия, Швейцария, Испания, а также в итальянских городах Милан, Рим, Флоренция и Турин, укрепляя свою
                репутацию превосходства и роскоши в индустрии моды.<br><br></p>
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}


{% block scripts %}
<script src="{% static 'news.js' %}" defer="defer"> </script>
<script src="{% static 'tabs.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>