{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'infoPage.css' %}" />
{% endblock styles %}

{% block content %}
<section class="infoPage-sec">
    <div class="container">
        <h1 class="infoPage__title page-title">Правила оформления заказов</h1>
        <div class="infoPage">
            <p>История Антонелли Флоренция-это повествование о совершенстве и инновациях, которое начинается в
                послевоенный период. В 1953 году Лучано Антонелли основал компанию в Кастельфиорентино, сначала
                известную как Vicad, а затем как Gossip, отличаясь высококачественным производством женского белья и
                ночных рубашек.<br><br> В 1999 году смена поколений привела дочь Энрику к руководству компанией, открыв
                новую эру стиля и инноваций с запуском первой линии женских рубашек от кутюр. Это только начало серии
                расширений и обновлений, которые характеризовали бренд.<br><br>
                2012 год знаменует собой поворотный момент, с введением более широкого спектра продуктов, включая брюки,
                юбки, куртки, пальто и трикотаж, таким образом, формируя первую полную коллекцию total look, верную
                совершенству made in Italy, сделанному женщинами для женщин.<br><br>
                Эволюция бренда продолжается Марко Берни, сын Энрики, который, став генеральным директором, ведет
                компанию к международной экспансии. В 2016 году бренд открывает свой первый монобрендовый магазин в
                Москве, за которым следуют дальнейшие открытия и значительная консолидация присутствия на мировом
                рынке.<br><br></p>
        </div>
    </div>
</section>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}

</html>