{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'news.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero">
    <div class="container">
        <div class="hero">
            <div class="hero__subtitle">antonelli firenze</div>
            <h1 class="hero__title">{{news.name}}</h1>
        </div>
    </div>
</section>
<section class="newsItem-sec">
    <div class="container">
        <h1 class="newsItem__title page-title">{{news.name}} </h1>
        <div class="newsItem">
            <p>
                {{news.first_description}}
            </p>
            <div class="newsItem-images"> 
                {% for photo in news.newsphotos_set.all %}
                <img class="newsItem-images__item" src="{{photo.photo.url}}" alt="" />
                {% endfor %}
            </div>
            <p>
                {{news.second_description}}
            </p>
            
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}


{% block scripts %}
<script src="{% static 'news.js' %}" defer="defer"> </script>
<script src="{% static 'tabs.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>