{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'news.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero only-title">
    <div class="container">
        <div class="hero">
            <h1 class="hero__title">Новости и события</h1>
        </div>
    </div>
</section>
<section class="news-sec">
    <div class="container">
        <div class="news">
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news1.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето</div>
                </div>
            </a>
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news2.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето новое поступление весна-лето новое
                        поступление весна-лето новое поступление весна-лето</div>
                </div>
            </a>
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news1.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето</div>
                </div>
            </a>
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news2.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето</div>
                </div>
            </a>
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news1.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето</div>
                </div>
            </a>
            <a class="news-item" href="/news/PokaNet"><img class="news-item__img" src="{% static 'oldFrontPages/news/img/news2.jpg' %}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">07.08.24</span>
                    <div class="news-item__title">новое поступление весна-лето</div>
                </div>
            </a>
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'news.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>