{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'news.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero only-title">
    <div class="container">
        <div class="hero">
            <h1 class="hero__title">Новости и события</h1>
        </div>
    </div>
</section>
<section class="news-sec">
    <div class="container">
        <div class="news">
            {% for news_item in news %}
            <a class="news-item" href="/news/{{news_item.slug}}/"><img class="news-item__img" src="{{news_item.photo.url}}" alt="" />
                <div class="news-item-content"> <span class="news-item__date">{{news_item.date|date:"d.m.Y"}}</span>
                    <div class="news-item__title">{{news_item.name}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'news.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>