{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'shops.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero only-title" style="background-image: url('../../pages/shops/img/shopsbg.jpg')">
    <div class="container">
        <div class="hero">
            <h1 class="hero__title">Магазины</h1>
        </div>
    </div>
</section>
<section class="shops-sec">
    <div class="container">
        <h2 class="shops__title sec-title">Магазины</h2>
        <div class="shops">
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
        </div>
    </div>
</section>
<section class="shops-sec">
    <div class="container">
        <h2 class="shops__title sec-title">аутлеты</h2>
        <div class="shops">
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
        </div>
    </div>
</section>
<section class="shops-sec">
    <div class="container">
        <h2 class="shops__title sec-title">корнеры</h2>
        <div class="shops">
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem2.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
            <div class="shops-item"> <img class="shops-item__img" src="../../pages/shops/img/shopItem.jpg" alt="" />
                <div class="shops-item__title">name storE </div>
                <div class="shops-item__place">Ул. пушкина, д. 50, 2 этаж</div><a class="shops-item__phone"
                    href="tel:88009991010">8 800 999 99 99</a>
            </div>
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'shops.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>