{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'shops.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero only-title" style="background-image: url('../../static/oldFrontPages/shops/img/shopsbg.jpg')">
    <div class="container">
        <div class="hero">
            <h1 class="hero__title">Магазины</h1>
        </div>
    </div>
</section>
{% for key, shop in shops.items %}
<section class="shops-sec">
    <div class="container">
        <h2 class="shops__title sec-title">{{key}}</h2>
        <div class="shops">
            {% for s in shop %}
            <div class="shops-item"> 
                {% if s.photo %}
                <img class="shops-item__img" src="{{s.photo.url}}" alt="" />
                {% endif %}
                <div class="shops-item__title">{{s.name}} </div>
                <div class="shops-item__place">{{s.adress}}</div>
                <a class="shops-item__phone" href="tel:{{s.phone}}">{{s.phone}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}


{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'shops.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>