.lk {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.lk-panel {
  width: 330px;
  display: flex;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 32px;
}
.lk-panel__img-wrap {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.lk-panel__img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lk-panel__img-wrap input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.lk-panel__name {
  margin-top: 8px;
  text-transform: uppercase;
  text-align: center;
}
.lk-panel__mail {
  margin-top: 4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.lk-panel__list {
  margin-top: 46px;
}
.lk-panel__list-item {
  width: 100%;
  padding: 11px 18px;
  display: flex;
  align-items: center;
}
.lk-panel__list-item:last-child {
  margin-top: 24px;
}
.lk-panel__list-item.active {
  background: #000;
}
.lk-panel__list-item.active img {
  filter: invert(1);
}
.lk-panel__list-item.active span {
  font-weight: 500;
  color: #fff;
}
.lk-panel__list-item-img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.lk-panel__list-item span {
  font-weight: 400;
}
.lk-content {
  width: calc(100% - 330px - 52px);
}
.lk-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lk-info__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.lk-info .input {
  width: calc(50% - 20px);
  margin-bottom: 32px;
}
.lk__save {
  background: #000;
  height: 68px;
  border-radius: 0px;
  text-transform: uppercase;
}

.logout {
  cursor: pointer;
}

.order-status__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.order-status__info {
  font-size: 20px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.order-status__images {
  display: flex;
  flex-wrap: wrap;
}
.order-status__images-item {
  width: 12%;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .lk-info .input {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .lk {
    flex-wrap: wrap;
  }
  .lk-panel {
    width: 100%;
  }
  .lk-content {
    width: 100%;
    margin-top: 32px;
  }
}
.paddinger {
  display: none;
}

@media (max-width: 640px) {
  .lk-panel {
    border: none;
    width: 100vw;
  }
  .lk-panel__list {
    display: flex;
    overflow-x: scroll;
    transform: translateX(-20px);
  }
  .lk-panel__list-item {
    display: flex !important;
    width: -moz-max-content;
    width: max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin-top: 0px !important;
  }
  .lk-panel__list .paddinger {
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
  .lk-panel .slick-arrow {
    display: none !important;
  }
  .order-status {
    padding: 32px;
    border-radius: 0px;
    width: 100%;
  }
  .order-status__images-item {
    width: calc(50% - 5px);
  }
  .lk-panel__img-wrap,
  .lk-panel__name,
  .lk-panel__mail {
    transform: translateX(-20px);
  }
}
.lk-favs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lk-favs .product {
  width: calc(50% - 20px);
  margin-bottom: 40px;
}

@media (max-width: 1399px) {
  .lk-favs .product {
    height: 450px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .lk.favorites {
    flex-direction: column;
  }
  .lk.favorites .lk-panel {
    width: 100%;
  }
  .lk.favorites .lk-content {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .lk-favs .product {
    width: 100%;
    height: auto;
  }
  .lk-favs .product__main {
    height: auto;
  }
}
.status {
  display: flex;
  align-items: center;
}
.status-images {
  width: 178px;
  height: 178px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 28px;
}
.status-images__img {
  width: 86px;
  height: 86px;
}
.status-content {
  display: flex;
  flex-direction: column;
}
.status-content__status {
  text-transform: uppercase;
}
.status-content__number {
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 8px;
}
.status-content__date {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.status__btn {
  margin-left: auto;
  width: 395px;
  height: 68px;
  background: #000;
  text-transform: uppercase;
  border-radius: 0px;
}

@media (max-width: 1399px) {
  .status__btn {
    width: 200px;
    height: 55px;
  }
}
@media (max-width: 768px) {
  .status {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .status:not(:first-child) {
    margin-top: 40px;
  }
  .status-images {
    width: 50%;
    height: auto;
    justify-content: space-between;
    margin-right: 0px;
  }
  .status-images__img {
    width: calc(50% - 8px);
    height: auto;
    aspect-ratio: 1/1;
    margin-bottom: 16px;
  }
  .status-content {
    margin-top: 20px;
    width: 100%;
  }
  .status__btn {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .status-images {
    width: 100%;
  }
  .status-content {
    margin-top: 29px;
  }
}
@media (min-width: 1025px) {
  .lk-panel__list-item {
    transition: all 0.3s ease;
  }
  .lk-panel__list-item:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}/*# sourceMappingURL=account.css.map */