.elegancy {
  display: flex;
  height: 1018px;
}
.elegancy-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 678px;
}
.elegancy-left .product:nth-child(3), .elegancy-left .product:nth-child(4) {
  margin-top: auto;
}
.elegancy-big {
  width: 678px;
  margin-left: auto;
  position: relative;
}
.elegancy-big__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.elegancy-big__title {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.elegancy-big__price {
  position: absolute;
  bottom: 101px;
  left: 24px;
  color: #fff;
  font-size: 16px;
}
.elegancy-bottom {
  margin-top: 100px;
}
.elegancy-bottom__title {
  margin: 0 auto;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}
.elegancy-bottom__description {
  margin: 16px auto 0px auto;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  width: 846px;
}
.elegancy .product__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
}

.categories {
  display: flex;
  justify-content: space-between;
  height: 700px;
}
.categories__item {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}
.categories__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories__item-title {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.elegancy-mob {
  display: none;
}

@media (max-width: 1399px) {
  .elegancy-big {
    width: 590px;
  }
  .elegancy {
    height: 618px;
  }
  .elegancy-left {
    width: calc(100% - 590px - 20px);
  }
  .elegancy-left .product {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
  }
  .elegancy-left .product__image {
    flex: 1;
    height: 200px;
  }
}
.elegancy-btns {
  display: none;
}

@media (max-width: 1024px) {
  .elegancy {
    display: none;
  }
  .elegancy-mob {
    display: block;
    height: -moz-max-content;
    height: max-content;
  }
  .elegancy-mob .product {
    width: 60vw;
  }
  .elegancy-mob .product__image {
    height: auto;
    aspect-ratio: 31/42;
  }
  .categories {
    height: 400px;
  }
  .elegancy-top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .elegancy-top .sec-title {
    margin-bottom: 0px;
  }
  .elegancy-prev {
    margin-right: 16px;
  }
  .elegancy-btns {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .elegancy-btns__item {
    position: static;
    width: 32px;
    padding: 0px;
    margin-top: 0px !important;
  }
  .elegancy-btns__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .elegancy-btns__item::after {
    display: none;
  }
  .elegancy-bottom__title {
    text-align: left;
  }
  .elegancy-bottom__description {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .elegancy-mob .product {
    width: calc(100% - 32px);
  }
  .elegancy-bottom__title {
    font-size: 32px;
  }
  .elegancy-bottom__description {
    font-size: 16px;
  }
  .categories {
    flex-direction: column;
    height: auto;
  }
  .categories__item {
    height: auto;
    width: 100%;
  }
  .categories__item:nth-child(2) {
    margin-top: 24px;
  }
  .elegancy-btns__item {
    width: 16px;
  }
}/*# sourceMappingURL=home.css.map */