.pproduct {
  display: flex;
  width: 100%;
  margin-top: 16px;
}
.pproduct-sec {
  margin-top: 32px;
}
.pproduct-back {
  width: 280px;
  height: 67px;
  color: #525252;
  border: 1px solid #000;
  border-radius: 0px;
  text-transform: uppercase;
}
.pproduct-left {
  width: 678px;
  margin-right: 52px;
}
.pproduct-left-main {
  display: flex;
  flex-wrap: wrap;
}
.pproduct-left-main__img {
  width: 100%;
  margin-bottom: 24px;
}
.pproduct-left-main__img:nth-child(2) {
  width: calc(50% - 12px);
  margin-right: 24px;
}
.pproduct-left-main__img:nth-child(3) {
  width: calc(50% - 12px);
}
.pproduct-right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 678px - 52px);
  padding: 0px 32px;
}
.pproduct-right__category {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.pproduct-right__category span {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 8px;
}
.pproduct-right__category img {
  width: 4px;
  height: 8px;
}
.pproduct-right__title {
  margin-top: 8px;
  font-size: 32px;
  text-transform: uppercase;
}
.pproduct-right__price {
  margin-top: 8px;
}
.pproduct-right-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.pproduct-right-btns button {
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pproduct-right-btns__addToCart {
  background: #000;
  color: #fff;
  flex: 1;
  height: 68px;
  margin-right: 8px;
  text-align: center;
  text-transform: uppercase;
}
.pproduct-right-btns__addToFavorite {
  padding: 0px !important;
  height: 68px;
  width: 68px;
  border: 1px solid #000;
}
.pproduct-block {
  width: 100%;
  margin-top: 8px;
  padding: 16px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pproduct-block__title {
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.pproduct-block__title .helper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 8px);
  cursor: pointer;
}
.pproduct-block-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}
.pproduct-block-items__input {
  display: none;
}
.pproduct-block-items__input:checked + label {
  border-color: #000;
}
.pproduct-block-items__label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 2px;
}
.pproduct-block-items__label.square {
  width: 32px;
  min-width: 32px;
  padding: 0px;
}
.pproduct-block-items__label:not(:last-child) {
  margin-right: 16px;
}
.pproduct-block-items__label .color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.pproduct-description {
  margin-top: 40px;
}
.pproduct-description__title {
  color: rgba(0, 0, 0, 0.5);
}
.pproduct-description p {
  margin-top: 8px;
}
.pproduct-description p b {
  font-weight: 700;
}
.pproduct-tabs {
  margin-top: 40px;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pproduct-tabs-content {
  margin-top: 18px;
}
.pproduct-tabs__item {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.pproduct-tabs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: calc(100% + 2px);
  left: 0;
  opacity: 0;
}
.pproduct-tabs__item.active {
  color: #000;
}
.pproduct-tabs__item.active::after {
  opacity: 1;
}
.pproduct-tabs__item:not(:last-child) {
  margin-right: 50px;
}

.pproduct-slider-main,
.pproduct-slider-sub {
  display: none;
}

@media (max-width: 1399px) {
  .pproduct-left {
    width: 520px;
  }
  .pproduct-right {
    width: calc(100% - 520px - 20px);
  }
}
@media (max-width: 1024px) {
  .pproduct {
    flex-direction: column;
  }
  .pproduct-left {
    width: 100%;
  }
  .pproduct-slider-main {
    display: block;
    width: 100%;
  }
  .pproduct-slider-sub {
    display: block;
    margin-top: 6px;
    width: 100vw;
    transform: translateX(calc((100vw - 700px) / -2));
    padding-left: calc((100vw - 700px) / 2);
  }
  .pproduct-slider-sub .pproduct-slider__img {
    width: 25vw;
    height: 25vw;
  }
  .pproduct-slider-sub .pproduct-slider__img img {
    width: 100%;
    height: 100%;
  }
  .pproduct-left-main {
    display: none;
  }
  .pproduct-right {
    width: 100%;
    padding: 0px !important;
    margin: 24px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .pproduct-slider-sub {
    transform: translateX(calc((100vw - 600px) / -2));
    padding-left: calc((100vw - 600px) / 2);
    padding-right: 16px;
  }
  .pproduct-right-btns__addToCart {
    padding-left: 0px;
    padding-right: 0px;
  }
  .pproduct-back {
    font-size: 14px;
    width: 220px;
    height: 46px;
  }
}
.sizes-modal {
  border-radius: 0px !important;
}
.sizes-modal .modal__img {
  width: 100%;
}
.sizes-modal .modal__img.desk {
  display: block;
}
.sizes-modal .modal__img.mob {
  display: none;
}

@media (max-width: 640px) {
  .pproduct-slider-sub {
    transform: translateX(calc((100vw - (100vw - 32px)) / -2));
    padding-left: calc((100vw - (100vw - 32px)) / 2);
  }
  .pproduct-slider-main .pproduct-slider__img img {
    width: 100%;
    height: auto;
  }
  .pproduct-back {
    font-size: 12px;
    width: 143px;
    height: 36px;
    padding: 0px;
  }
  .sizes-modal {
    width: 100%;
  }
  .sizes-modal .modal__title {
    font-size: 20px;
  }
  .sizes-modal .modal__img {
    width: 100%;
  }
  .sizes-modal .modal__img.desk {
    display: none;
  }
  .sizes-modal .modal__img.mob {
    display: block;
  }
}/*# sourceMappingURL=product.css.map */