{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'auth.css' %}" />
{% endblock styles %}

{% block content %}

<section class="auth-sec">
  <div class="container">
    <form class="auth forgotForm">
      <h1 class="auth__title">Восстановление пароля</h1>
      <p class="auth-choice__title">Укажите почту, на которую зарегистрирован аккаунт. Мы пришлём на неё инструкцию по
        восстановлению</p>

      <div class="input mailInput">
        <div class="input__title">Почта*</div><input class="input__field" type="mail" placeholder="adam@adam.adam"
          name="mail" />
        <div class="input__error">Почта введена некорректно</div>
      </div>
      <a href="/login/" class="btn black forgot__goAuth">Перейти к авторизации</a>
      <button class="btn black auth__forgotRequest active">Восстановить</button>
      <a class="btn auth__btn auth__goSignUp" href="/login/">Авторизация
      </a>
    </form>
  </div>
</section>


{% endblock content %}

{% block scripts %}

<script src="{% static 'inputsController.js' %}" defer="defer"> </script>
<script src="{% static 'auth.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>