{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="{% static 'account.css' %}" />
{% endblock styles %}

{% block content %}
<section class="lk-sec">
    <div class="container">
        <h1 class="lk__title page-title">аккаунт</h1>
        <div class="lk favorites">
            <div class="lk-panel"> 
                {% include 'personal_small_info.html'%}
                {% include 'personal_menu.html' with active_page='favorites' %}
            </div>
            <div class="lk-content">
                <div class="lk-favs"> 
                    {% for product in products %}
                        {% include 'list_item.html'%}
                    {% endfor %}    
                    {% if not products %}
                    Пусто
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

<script src="{% static 'account.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>