{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="{% static 'account.css' %}" />
{% endblock styles %}

{% block content %}
<section class="lk-sec">
    <div class="container">
        <h1 class="lk__title page-title">аккаунт</h1>
        <div class="lk favorites">
            <div class="lk-panel"> 
                {% include 'personal_small_info.html'%}
                {% include 'personal_menu.html' with active_page='favorites' %}
            </div>
            <div class="lk-content">
                <div class="lk-favs"> <a class="product" href=""  item-id="123" variant-id="222">
                        <div class="product__main"> <button class="product__main-fav fav-btn" item-id="123"> <img
                                    class="product__main-fav__img disabled" src="../../shared/icons/heart.svg"
                                    alt="" /><img class="product__main-fav__img enabled"
                                    src="../../shared/icons/heartFilled.svg" alt="" /></button><img
                                class="product__image" src="../../pages/catalog/img/product1.jpg" alt="" />
                            <div class="product__info">
                                <div class="product__info-sub"><span>Размеры:</span>
                                    <div>
                                        <p>S </p>
                                        <p>M </p>
                                        <p>L </p>
                                        <p>XL</p>
                                    </div>
                                </div>
                                <div class="product__info-sub"><span>Цвета:</span>
                                    <div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"></div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-content"> <button class="product__addToCard"> <img
                                    class="product__addToCard-img" src="../../shared/icons/cart.svg" /></button>
                            <div class="product__title">Name Clothes</div>
                            <p class="product__price">1 999 ₽</p>
                        </div>
                    </a><a class="product" href=""  item-id="123" variant-id="222">
                        <div class="product__main"> <button class="product__main-fav fav-btn" item-id="123"> <img
                                    class="product__main-fav__img disabled" src="../../shared/icons/heart.svg"
                                    alt="" /><img class="product__main-fav__img enabled"
                                    src="../../shared/icons/heartFilled.svg" alt="" /></button><img
                                class="product__image" src="../../pages/catalog/img/product1.jpg" alt="" />
                            <div class="product__info">
                                <div class="product__info-sub"><span>Размеры:</span>
                                    <div>
                                        <p>S </p>
                                        <p>M </p>
                                        <p>L </p>
                                        <p>XL</p>
                                    </div>
                                </div>
                                <div class="product__info-sub"><span>Цвета:</span>
                                    <div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"></div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-content"> <button class="product__addToCard"> <img
                                    class="product__addToCard-img" src="../../shared/icons/cart.svg" /></button>
                            <div class="product__title">Name Clothes</div>
                            <p class="product__price">1 999 ₽</p>
                        </div>
                    </a><a class="product" href=""  item-id="123" variant-id="222">
                        <div class="product__main"> <button class="product__main-fav fav-btn" item-id="123"> <img
                                    class="product__main-fav__img disabled" src="../../shared/icons/heart.svg"
                                    alt="" /><img class="product__main-fav__img enabled"
                                    src="../../shared/icons/heartFilled.svg" alt="" /></button><img
                                class="product__image" src="../../pages/catalog/img/product1.jpg" alt="" />
                            <div class="product__info">
                                <div class="product__info-sub"><span>Размеры:</span>
                                    <div>
                                        <p>S </p>
                                        <p>M </p>
                                        <p>L </p>
                                        <p>XL</p>
                                    </div>
                                </div>
                                <div class="product__info-sub"><span>Цвета:</span>
                                    <div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"></div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-content"> <button class="product__addToCard"> <img
                                    class="product__addToCard-img" src="../../shared/icons/cart.svg" /></button>
                            <div class="product__title">Name Clothes</div>
                            <p class="product__price">1 999 ₽</p>
                        </div>
                    </a><a class="product" href=""  item-id="123" variant-id="222">
                        <div class="product__main"> <button class="product__main-fav fav-btn" item-id="123"> <img
                                    class="product__main-fav__img disabled" src="../../shared/icons/heart.svg"
                                    alt="" /><img class="product__main-fav__img enabled"
                                    src="../../shared/icons/heartFilled.svg" alt="" /></button><img
                                class="product__image" src="../../pages/catalog/img/product1.jpg" alt="" />
                            <div class="product__info">
                                <div class="product__info-sub"><span>Размеры:</span>
                                    <div>
                                        <p>S </p>
                                        <p>M </p>
                                        <p>L </p>
                                        <p>XL</p>
                                    </div>
                                </div>
                                <div class="product__info-sub"><span>Цвета:</span>
                                    <div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"></div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                        <div class="color" style="background-color: #c3b762"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-content"> <button class="product__addToCard"> <img
                                    class="product__addToCard-img" src="../../shared/icons/cart.svg" /></button>
                            <div class="product__title">Name Clothes</div>
                            <p class="product__price">1 999 ₽</p>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

<script src="{% static 'account.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>