{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'account.css' %}" />
{% endblock styles %}

{% block content %}

<!-- class: order-status-{ItemId} -->
{% for order in orders %}
<div class="modal overlayContent order-status order-status-{{order.id}}">
    <div class="modal__close close-overlays"> <img class="modal__close-img" src="{% static 'icons/cross.svg' %}" alt />
    </div>
    <div class="order-status__title">Информация о заказе №{{order.id}}</div>
    <div class="order-status__info">Общая сумма заказа: {{order.price}} ₽</div>
    <div class="order-status__info">Статус: {{order.order_status}}</div>
    <div class="order-status__info">Дата оформления: {{order.date|date:"d.m.Y"}}</div>
    <div class="order-status__info">Адрес доставки: {{order.shop.address}}</div>
    <div class="order-status__images">
        {% for variant in order.cart_items.all %}
            {% if variant.photo %}
            <img class="order-status__images-item" src="{{variant.photo.url}}" alt />
            {% elif variant.product.photo %}
            <img class="order-status__images-item" src="{{variant.product.photo.url}}" alt />

            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
<section class="lk-sec">
    <div class="container">
        <h1 class="lk__title page-title">аккаунт</h1>
        <div class="lk">
            <div class="lk-panel">
                {% include 'personal_small_info.html'%}
                {% include 'personal_menu.html' with active_page='orders' %}
            </div>
            <div class="lk-content">
                <div class="lk-orders">
                    {% for order in orders %}
                    <div class="status">
                        <div class="status-images"> 
                            {% for variant in order.cart_items.all %}
                                {% if variant.photo %}
                                <img class="status-images__img" src="{{variant.photo.url}}" alt />
                                {% elif variant.product.photo %}
                                <img class="status-images__img" src="{{variant.product.photo.url}}" alt />

                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="status-content">
                            <div class="status-content__status">{{order.order_status}}</div>
                            <div class="status-content__number">заказ
                                #{{order.id}}</div>
                            <div class="status-content__date">от
                                {{order.date|date:"d.m.Y"}}</div>
                            <!-- data-modal: order-status-{ItemId} -->
                        </div><button class="btn status__btn open-modal" data-modal="order-status-{{order.id}}">Подробнее</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'account.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>