{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'nouislider.min.css' %}" />
<link rel="stylesheet" href="{% static 'catalog.css' %}" />
{% endblock styles %}

{% block content %}

<form class="filter filter-params overlayContent">
    <img src="{% static 'icons/burgerClose.svg' %}" alt="" class="filter__close close-overlays">
    <div class="filter__title">ФИЛЬТР</div>

    <div class="filter-block" style="border-top: 0px;"> 
        <span class="filter-block__title">Цена: </span>
        <div class="filter-block-items slideInput-wrapper"> 
            <div class="slideInput"></div>
            <div class="slideInput-fields">
                <div>
                    <span>₽</span>
                    <input type="text" class="slideInput-fields__input min" name="priceMin" data-min-value="{{filter.price.min_price}}">
                </div>
                <span class="separator"></span>
                <div>
                    <span>₽</span>
                    <input type="text" class="slideInput-fields__input max" name="priceMax" data-max-value="{{filter.price.max_price}}">
                </div>
            </div>
        </div>
    </div>

    <div class="filter-block"> 
        <span class="filter-block__title">Размеры: </span>
        <div class="filter-block-items"> 
            {% for key, size in filter.sizes.items %}
                <input class="filter-block-items__input" type="checkbox" name="sizes" value="{{key}}" id="sizes{{key}}" />
                <label class="filter-block-items__label square" for="sizes{{key}}">{{size}} </label>
            {% endfor %}

        </div>
    </div>

    <div class="filter-block"> 
        <span class="filter-block__title">Материал:</span>
        <div class="filter-block-items">
                {% for key, material in filter.materials.items %}
                    <input class="filter-block-items__input" type="checkbox" name="mat" id="mat{{key}}" value="{{key}}"  />
                    <label class="filter-block-items__label" for="mat{{key}}">{{material}}</label>
                {% endfor %}
            </div>
    </div>

    <div class="filter-block"> <span class="filter-block__title">Цвет:</span>
        <div class="filter-block-items">
            {% for key, color in filter.colors.items %}
                <input class="filter-block-items__input" type="checkbox" name="color" id="color{{key}}" value="{{key}}" />
                <label class="filter-block-items__label square" for="color{{key}}"> <div class="color" style="background-color: #{{color}}"></div> </label>
            {% endfor %}
        </div>
    </div>

    <div class="filter-btns">
        <button class="btn filter-btns__btn filter-btns__accept close-overlays" id="filterAccept">Применить</button>
        <button class="btn filter-btns__btn filter-btns__reset" id="filterReset">Сбросить</button>
    </div>
</form>

<form class="filter filter-sort overlayContent">
    <img src="{% static 'icons/burgerClose.svg' %}" alt="" class="filter__close close-overlays">
    <div class="filter__title">Сортировка</div>

    <input type="radio" checked id="byDefault" value="byDefault" name="sort" class="filter-sort__input">
    <label for="byDefault" class="filter-sort__label">По умолчанию</label>

    <input type="radio" id="byPopular" value="byPopular" name="sort" class="filter-sort__input">
    <label for="byPopular" class="filter-sort__label">По популярности</label>

    <input type="radio" id="byPriceLow" value="byPriceLow" name="sort" class="filter-sort__input">
    <label for="byPriceLow" class="filter-sort__label">По возрастанию цены</label>

    <input type="radio" id="byPriceHigh" value="byPriceHigh" name="sort" class="filter-sort__input">
    <label for="byPriceHigh" class="filter-sort__label">По убыванию цены</label>

    <div class="filter-btns">
        <button class="btn filter-btns__btn filter-btns__accept close-overlays" id="sortAccept">Применить</button>
    </div>
</form>

<section class="hero-sec short-hero">
    <div class="container">
        <div class="hero">
            <div class="hero__subtitle">Новые поступления</div>
            <h1 class="hero__title">Весна - лето</h1>
        </div>
    </div>
</section>
<section class="catalog-sec">
    <div class="container">
        <div class="catalog-actions">
            <div class="catalog-actions__item filter-btn open-modal" data-modal="filter-params"> <span>Фильтр</span><img src="{% static 'icons/arrowBottom.svg' %}"
                    alt="" /></div>
            <div class="catalog-actions__item sort-btn open-modal" data-modal="filter-sort"> <span>Сортировать</span><img
                    src="{% static 'icons/arrowBottom.svg' %}" alt="" /></div>
        </div>
        <div class="catalog">
            {% for product in products %}
                {% include 'list_item.html'%}
            {% endfor %}
            {% include "pagination.html"  %}
        </div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'nouislider.min.js' %}" defer="defer"> </script>
<script src="{% static 'catalog.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>