{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'catalog.css' %}" />
{% endblock styles %}

{% block content %}
<section class="hero-sec short-hero">
    <div class="container">
        <div class="hero">
            <div class="hero__subtitle">Новые поступления</div>
            <h1 class="hero__title">Весна - лето</h1>
        </div>
    </div>
</section>
<section class="catalog-sec">
    <div class="container">
        <div class="catalog-actions">
            <div class="catalog-actions__item filter"> <span>Фильтр</span><img src="../../shared/icons/arrowBottom.svg"
                    alt="" /></div>
            <div class="catalog-actions__item sort"> <span>Сортировать</span><img
                    src="../../shared/icons/arrowBottom.svg" alt="" /></div>
        </div>
        <div class="catalog"> <a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product1.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product2.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product3.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product1.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product2.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product3.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product1.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a><a class="product" href="">
                <div class="product__main"> <button class="product__main-fav fav-btn"> <img
                            class="product__main-fav__img disabled" src="../../shared/icons/heart.svg" alt="" /><img
                            class="product__main-fav__img enabled" src="../../shared/icons/heartFilled.svg"
                            alt="" /></button><img class="product__image" src="../../pages/catalog/img/product2.jpg"
                        alt="" />
                    <div class="product__info">
                        <div class="product__info-sub"><span>Размеры:</span>
                            <div>
                                <p>S </p>
                                <p>M </p>
                                <p>L </p>
                                <p>XL</p>
                            </div>
                        </div>
                        <div class="product__info-sub"><span>Цвета:</span>
                            <div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"></div>
                                <div class="color" style="background-color: #c3b762"> </div>
                                <div class="color" style="background-color: #c3b762"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-content"> <button class="product__addToCard"> <img class="product__addToCard-img"
                            src="../../shared/icons/cart.svg" /></button>
                    <div class="product__title">Name Clothes</div>
                    <p class="product__price">1 999 ₽</p>
                </div>
            </a></div>
    </div>
</section>

{% include 'telegram.html'  %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'catalog.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>