{% load static %}
<a class="product" href=""  item-id="123" variant-id="222">
    <div class="product__main"> <button class="product__main-fav fav-btn" item-id="123"> <img
                class="product__main-fav__img disabled" src="{% static 'icons/heart.svg' %}" alt="" /><img
                class="product__main-fav__img enabled" src="{% static 'icons/heartFilled.svg' %}"
                alt="" /></button><img class="product__image" src="{{product.photo_url}}"
            alt="" />
        <div class="product__info">
            <div class="product__info-sub"><span>Размеры:</span>
                <div>
                    {% for size in product.sizes %}
                    <p>{{size}}</p>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="product__info-sub"><span>Цвета:</span>
                <div>
                    {% for color in product.colors %}
                    <div class="color" style="background-color: #{{color}}"> </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="product-content"> <button class="product__addToCard add-cart"> <img class="product__addToCard-img"
                src="{% static 'icons/cart.svg' %}" /></button>
        <div class="product__title"> {{product.name}} </div>
        <p class="product__price"> {{product.price}} ₽</p>
    </div>
</a>