{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'product.css' %}" />
{% endblock styles %}

{% block content %}
<div class="modal overlayContent sizes-modal">
    <div class="modal__close close-overlays"> <img class="modal__close-img" src="../../shared/icons/cross.svg" alt />
    </div>
    <div class="modal__title">Как определить размер</div><img class="modal__img" src="./img/sizes.png" alt />
</div>
<section class="pproduct-sec">
    <div class="container"> <a class="btn pproduct-back" href="./">Назад в каталог</a>
        <div class="pproduct" data-product-id="{{product.id}}">
            {% include 'product_content.html'%}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'product.js' %}" defer="defer"> </script>
<script src="{% static 'tabs.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>