<div class="cart-item"> <img class="cart-item__img" src="./img/aaa3.jpg" alt="" />
    <div class="cart-item-info">
        <div class="cart-item__title">Cloth item very long title with some description</div>
        <div class="cart-item__price">17 642 ₽</div>
    </div>
    <div class="cart-item__dropdown dropdown size">
        <div class="dropdown-name">Размер:</div>
        <div class="dropdown__header" data-val="M"><img class="dropdown__header-arrow"
                src="../../shared/icons/dropdownArrow.svg" /><span>m</span><input
                class="dropdown__header-inp" type="text" value="M" /></div>
        <div class="dropdown-list">
            <div class="dropdown-list__item" data-val="S">S</div>
            <div class="dropdown-list__item" data-val="M">M</div>
            <div class="dropdown-list__item" data-val="L">L</div>
        </div>
    </div>
    <div class="cart-item__dropdown dropdown">
        <div class="dropdown-name">Цвет: </div>
        <div class="dropdown__header" data-val="green"><img class="dropdown__header-arrow"
                src="../../shared/icons/dropdownArrow.svg" /><span>
                <div class="color">
                    <div style="background-color: #333f22"> </div>
                </div>
            </span><input class="dropdown__header-inp" type="text" value="green" /></div>
        <div class="dropdown-list">
            <div class="dropdown-list__item" data-val="green">
                <div class="color">
                    <div style="background-color: #3f0f22"> </div>
                </div>
            </div>
            <div class="dropdown-list__item" data-val="red">
                <div class="color">
                    <div style="background-color: #ff0000"> </div>
                </div>
            </div>
            <div class="dropdown-list__item" data-val="anyother">
                <div class="color">
                    <div style="background-color: #00ff88"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-item__remove"> <img src="./img/rem.svg" alt="" /></div>
</div>