<a class="order-product" href="/product/{{cart_item.product.id}}/">
    <img class="order-product__img" src="{{cart_item.product.variant_photo_url}}" alt="" />
    <div class="order-product-info">
        <div class="order-product__title">{{cart_item.product.name}} </div>
        <div class="order-product-stats">
            <div class="stat">
                <div>Размер:</div><span>{{cart_item.product.choosen_size}} </span>
            </div>
            <div class="stat">
                <div>Цвет:</div><span class="color">
                    <div style="background-color: #{{cart_item.product.choosen_color}}"> </div>
                </span>
            </div>
        </div>
        <div class="order-product__price">2 490 ₽</div>
    </div>
</a>