{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'order.css' %}" />
{% endblock styles %}

{% block content %}
<section class="order-sec">
    <div class="container">
        <h1 class="page-title order__title">Оформление заказа</h1>
        <div class="order">
            <div class="order-content">
                <div class="order-block__title">Персональная информация</div>
                <div class="order-block personal">
                    <div class="input textInput">
                        <div class="input__title">Имя</div><input class="input__field" type="text"
                            placeholder="Екатерина" />
                        <div class="input__error">Введите корректное значение!</div>
                    </div>
                    <div class="input textInput">
                        <div class="input__title">Фамилия</div><input class="input__field" type="text"
                            placeholder="Иванова" />
                        <div class="input__error">Введите корректное значение!</div>
                    </div>
                    <div class="input mailInput">
                        <div class="input__title">Почта</div><input class="input__field" type="mail"
                            placeholder="adam@example.com" />
                        <div class="input__error">Почта введена некорректно</div>
                    </div>
                    <div class="input phoneInput">
                        <div class="input__title">Номер Телефона</div><input class="input__field" type="text"
                            placeholder="+7" />
                        <div class="input__error">Введите корректное значение!</div>
                    </div>
                </div>
                <div class="order-block__title">Доставка</div>
                <div class="order-block delivery">
                    <div class="order__choice-title">Способ доставки:</div>
                    <div class="order__choice"><input type="radio" name="delivery" id="delivery-home" /><button
                            class="order__choice-item tabs__item active" data-tab-base="delivery" data-tab-val="1"
                            for="delivery-home">Доставка</button><input type="radio" name="delivery"
                            id="delivery-shop" /><button class="order__choice-item tabs__item" data-tab-base="delivery"
                            data-tab-val="2" for="delivery-shop">Забрать из магазина</button></div>
                    <div class="order__choice-content delivery-home tab-content active" data-tab-base="delivery"
                        data-tab-val="1">
                        <div class="input textInput">
                            <div class="input__title">Город</div><input class="input__field" type="text"
                                placeholder="Москва" />
                            <div class="input__error">Введите корректное значение!</div>
                        </div>
                        <div class="input textInput">
                            <div class="input__title">Улица</div><input class="input__field" type="text"
                                placeholder="ул. Тверская, д.18, кв. 32" />
                            <div class="input__error">Введите корректное значение!</div>
                        </div>
                        <div class="input textInput">
                            <div class="input__title">Индекс</div><input class="input__field" type="text"
                                placeholder="12301" />
                            <div class="input__error">Введите корректное значение!</div>
                        </div>
                    </div>
                    <div class="order__choice-content delivery-shop tab-content" data-tab-base="delivery"
                        data-tab-val="2">
                        <h3 class="order-shops__title">Торговые центры</h3>
                        <div class="order-shops"><input class="order-shops__input" type="radio" checked="checked"
                                name="shop" id="shop-1" /><label class="order-shops__label" for="shop-1">
                                <div>Name Store </div><span>Ул. Владимира Вольфовича Жириновского Длинное название, д.
                                    50, 2 этаж</span><a href="tel:88009999999">8 800 999 99 99</a>
                            </label><input class="order-shops__input" type="radio" name="shop" id="shop-2" /><label
                                class="order-shops__label" for="shop-2">
                                <div>Name of Очень длинное название магазина</div><span>Ул. Пушкина, д. 50, 2
                                    этаж</span><a href="tel:88009999999">8 800 999 99 99</a>
                            </label><input class="order-shops__input" type="radio" name="shop" id="shop-3" /><label
                                class="order-shops__label" for="shop-3">
                                <div>Name of </div><span>Ул. Пушкина, д. 50, 2 этаж</span><a href="tel:88009999999">8
                                    800 999 99 99</a>
                            </label></div>
                        <h3 class="order-shops__title">Аутлеты</h3>
                        <div class="order-shops"><input class="order-shops__input" type="radio" name="shop"
                                id="shop-4" /><label class="order-shops__label" for="shop-4">
                                <div>Name Store </div><span>Ул. Владимира Вольфовича Жириновского Длинное название, д.
                                    50, 2 этаж</span><a href="tel:88009999999">8 800 999 99 99</a>
                            </label><input class="order-shops__input" type="radio" name="shop" id="shop-5" /><label
                                class="order-shops__label" for="shop-5">
                                <div>Name of Очень длинное название магазина</div><span>Ул. Пушкина, д. 50, 2
                                    этаж</span><a href="tel:88009999999">8 800 999 99 99</a>
                            </label><input class="order-shops__input" type="radio" name="shop" id="shop-6" /><label
                                class="order-shops__label" for="shop-6">
                                <div>Name of </div><span>Ул. Пушкина, д. 50, 2 этаж</span><a href="tel:88009999999">8
                                    800 999 99 99</a>
                            </label></div>
                    </div>
                </div>
                <div class="order-block payment">
                    <div class="order__choice-title">Способ оплаты:</div>
                    <div class="order__choice"> <input type="radio" name="payment" id="payment-online" /><label
                            class="order__choice-item tabs__item active" data-tab-base="payment" data-tab-val="1"
                            for="payment-online" checked="checked">Онлайн-оплата</label><input type="radio"
                            name="payment" id="payment-post" /><label class="order__choice-item tabs__item"
                            data-tab-base="payment" data-tab-val="2" for="payment-post">При получении</label></div>
                    <div class="order__choice-content delivery-home tab-content active" data-tab-base="payment"
                        data-tab-val="1"> </div>
                    <div class="order__choice-content delivery-home tab-content" data-tab-base="payment"
                        data-tab-val="2"> </div>
                </div><button class="btn order__offer">оформить заказ</button>
                <p class="order__offer-text">оформляя заказ и нажимая кнопку “Оформить заказ”, Вы соглашается с
                    условиями <a href="./">оферты</a></p>
            </div>
            <div class="order-info">
                <div class="order-info-list"> 
                    {% include 'order_item.html'  %}
                    {% include 'order_item.html'  %}
                    {% include 'order_item.html'  %}
                </div>
                <div class="order-info__row">
                    <div>Товар</div><span>80 999 ₽</span>
                </div>
                <div class="order-info__row">
                    <div>Доставка</div><span>399 ₽</span>
                </div>
                <div class="order-info__total">
                    <div>ИТОГО:</div><span>84 902 ₽</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'tabs.js' %}" defer="defer"> </script>
<script src="{% static 'inputsController.js' %}" defer="defer"> </script>
<script src="{% static 'order.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>