<a class="order-product" href="./">
    <img class="order-product__img" src="../../pages/order/img/dd.jpg" alt="" />
    <div class="order-product-info">
        <div class="order-product__title">Name Clothes </div>
        <div class="order-product-stats">
            <div class="stat">
                <div>Размер:</div><span>S </span>
            </div>
            <div class="stat">
                <div>Цвет:</div><span class="color">
                    <div style="background-color: #c3c30f"> </div>
                </span>
            </div>
        </div>
        <div class="order-product__price">2 490 ₽</div>
    </div>
</a>