{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'order.css' %}" />
{% endblock styles %}

{% block content %}
<section class="thanks-sec">
    <div class="container">
        <div class="thanks">
            <h1 class="page-title thanks__title">Спасибо за заказ!</h1>
            <p class="thanks__text">Ваш заказу спешно оформлен!<br>За статусом заказа можно следить в <a
                    href="./">личном кабинете</a></p>
            <div class="thanks__num">Номер вашего заказа: <br> 321-4234-12</div>
            <div class="thanks__support">Номер поддержки:<br><a href="tel:88008001010">8 800 888 88 88</a></div><a
                class="btn thanks__back" href="./">На главную</a>
        </div>
    </div>
</section>


{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'tabs.js' %}" defer="defer"> </script>
<script src="{% static 'inputsController.js' %}" defer="defer"> </script>
<script src="{% static 'order.js' %}" defer="defer"> </script>

{% endblock scripts %}

</html>