<html>
{% load static %}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block seo %}{% endblock seo %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'header.css' %}" />
    {% block styles %}{% endblock styles %}
</head>

<body>
    <div class="modal-bg close-overlays"></div>

    <div class="burger-menu">
        <a href="/" class="burger-menu__item category">Каталог</a>
        <a href="/" class="burger-menu__item category">Клиентам</a>
        <a href="/" class="burger-menu__item">Правила оформления заказов</a>
        <a href="/" class="burger-menu__item">Оплата</a>
        <a href="/" class="burger-menu__item">Доставка</a>
        <a href="/" class="burger-menu__item">Обмен и возврат</a>
        <a href="/" class="burger-menu__item category">Мир antonelli firenze</a>
        <a href="/" class="burger-menu__item">О бренде</a>
        <a href="/" class="burger-menu__item">Магазины</a>
        <a href="/" class="burger-menu__item">Новости</a>
        <a href="/" class="burger-menu__item">Контакты</a>
    </div>


    <div class="snack fav-snack overlayContent"> <img class="snack__img" src="{% static 'icons/heartFilled.svg' %}" />
        <div class="snack-content">
            <div>Товар добавлен в Избранное</div><a class="snack-content__link" href="./">Перейти</a>
        </div>
        <div class="snack__close close-overlays"> <img src="{% static 'icons/cross.svg' %}" /></div>
    </div>
    <header class="header-sec">
        <div class="container">
            <div class="header">
                <div class="header-actions mob">
                    <div class="header-actions__item header-actions__item--search mob"><img
                            class="header-actions__item-img" src="{% static 'icons/search.svg' %}" /></div>
                    <div class="header-actions__item header-burger burger-btn">
                        <img class="header-actions__item-img opener" src="{% static 'icons/burger.svg' %}" />
                        <img class="header-actions__item-img closer" src="{% static 'icons/burgerClose.svg' %}" />
                    </div>
                </div><a class="header__logo" href="./"><img class="header__logo-img"
                        src="{% static 'icons/logo.svg' %}" /></a>
                <div class="header__list"> <a class="header__list-item" href="./">Каталог</a><a
                        class="header__list-item" href="./">Мир Antonelli Firenze</a><a class="header__list-item"
                        href="./">Клиентам</a></div>
                <div class="header-actions">
                    <div class="header-actions__item header-actions__item--search desk"><img
                            class="header-actions__item-img" src="{% static 'icons/search.svg' %}" /></div>
                    <div class="header-actions__item header-actions__item--heart"><img class="header-actions__item-img"
                            src="{% static 'icons/heart.svg' %}" /></div>
                    <div class="header-actions__item header-actions__item--user"><img class="header-actions__item-img"
                            src="{% static 'icons/user.svg' %}" /></div>
                    <div class="header-actions__item header-actions__item--cart"><img class="header-actions__item-img"
                            src="{% static 'icons/cart.svg' %}" /></div>
                </div>
            </div>
        </div>
    </header>
</body>

{% block content %}{% endblock content %}


<link rel="stylesheet" href="{% static 'footer.css' %}" />
<footer class="footer-sec">
    <div class="container">
        <div class="footer">
            <div class="footer-left">
                <a class="footer__logo" href="./"> <img class="footer__logo-img" src="../../shared/icons/logo.svg"
                        alt /></a>
                <div class="footer-links">
                    <div class="footer-links__list">
                        <a class="footer-links__list-item" href>
                            <b>Каталог</b></a>
                    </div>
                    <div class="footer-links__list"> <a class="footer-links__list-item" href> <b>Мир
                                Antonelli firenze</b></a><a class="footer-links__list-item" href>О
                            бренде</a><a class="footer-links__list-item" href>Магазины</a><a
                            class="footer-links__list-item" href>Новости</a><a class="footer-links__list-item"
                            href>Контакты</a></div>
                    <div class="footer-links__list"> <a class="footer-links__list-item" href>
                            <b>Клиентам</b></a><a class="footer-links__list-item" href>Правила
                            оформления заказов</a><a class="footer-links__list-item" href>Оплата</a><a
                            class="footer-links__list-item" href>Доставка</a><a class="footer-links__list-item"
                            href>Обмен и
                            возврат</a></div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-contacts">
                    <div class="footer-contacts__item">Ул. Тверской Бульвар,
                        д. 1</div>
                    <div class="footer-contacts__item">с 10:00
                        - 22:00</div><a class="footer-contacts__item" href="tel:88009999999">8 800 999 99 99</a>
                </div>
                <div class="footer-policy">
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% block scripts %}
{% endblock scripts %}
</html>